body {
    background-image: url(../images/sportsbackround.jpg);
    background-position: center;
    
  
  
}


}
h2 {
    font-size: 10px;
    
    
}

.container {
    text-align: center;
    
    
    
}

.question {
    color: rgb(3, 38, 150);
    font-size: 30px;
}

  


h4 {
    font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  background-color: grey;
  padding: 5px 0;
  border-radius: 10px;
}

h5 {

    font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  letter-spacing: 1px;
  
}